extends layout

block content
  h1= title
  p Welcome to #{title}
  div 
    h1 Merhaba Bu Benim İlk Express Framework'ü ile kullandığım projedir.
    h2 Hi this is my first project with Express Framework
